body, html {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Ensure vertical scrolling is still possible */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Matches your first and third section color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* General padding for the navbar to create space on both sides */
    z-index: 1000;
}

/* Logo link styling */
.navbar-left .logo {
    font-size: 50px;
    font-weight: 400; /* Regular weight */
    color: #7579FA; /* Matches the second and fourth section color */

    background-size: 100% 100%; /* Gradually expand the background to cover the text */
    text-decoration: none; /* Remove underline */
    margin-left: 60px;
    font-family: "Roboto Mono", monospace;

}

/* Ensure the logo link doesn’t get underlined on hover */
.navbar-left .logo:hover {
    text-decoration: none; /* No underline on hover */
    font-weight: 900; /* Regular weight */
    background-size: 100% 100%; /* Gradually expand the background to cover the text */

}


.navbar-right {
    display: flex;
    gap: 50px; /* Space between links */
    padding-right: 130px; /* Additional padding for the links on the right */
    font-family: "Roboto Mono", monospace;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400; /* Regular weight */
    font-family: "Roboto Mono", monospace;
    transition: background-size 0.5s ease, color 0.5s ease;
    background: none; /* No background by default */
    background-clip: text;
    -webkit-background-clip: text; /* Safari/Webkit support */
    -webkit-text-fill-color: white; /* Fill text with white by default */
}

/* Hover effect with gradient */
.navbar-right a:hover {
    font-size: 16px;
    font-weight: 900; /* Regular weight */
    background-size: 100% 100%; /* Gradually expand the background to cover the text */
    background: linear-gradient(90deg, #7579FA, #FBAE6A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparent to show gradient */
}


.navbar-right .resume-link {
    color: #7579FA; /* Distinctive color for Resume link */


}

.navbar-right a:hover {
    text-decoration: underline;
}
