@font-face {
  font-family: 'DMMono-Medium';
  src: url(../assets/fonts/DMMono-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Ensure vertical scrolling is still possible */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary); /* Matches your first and third section color */
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* General padding for the navbar to create space on both sides */
    z-index: 1000;
}




.navbar-right {
    display: flex;
    gap: 50px; /* Space between links */
    padding-right: 130px; /* Additional padding for the links on the right */
    font-family: "DMMono-Medium", monospace;

}

.navbar-right a {
  text-decoration: none;
  background: none;
  -webkit-text-fill-color: var(--color-accent-text);  /* default text color */
}

.navbar-right a:hover,
.navbar-right a.active {
  text-decoration: underline;
}



.navbar-right .resume-link {
    color: #7579FA; /* Distinctive color for Resume link */


}

@media (min-width: 1025px) {
  .navbar {
    display: flex; /* or block, matching your original desktop style */
  }
}
@media (orientation: landscape) and (min-width: 820px) and (max-width: 1366px) {

  /* top navigation bar */
  .navbar {
    display: none !important;      /* overrides the ≥768 px “display:flex” rule :contentReference[oaicite:0]{index=0} */
  }
}

@media (orientation: landscape) and (min-width: 2000px) {
  .navbar{
    font-size: 1.5rem;
  }
}